<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis fugit facere minima ex nostrum, eligendi cumque dicta ratione, inventore reiciendis suscipit autem. Veritatis eligendi quibusdam commodi adipisci non excepturi!
  Incidunt, temporibus. Nulla culpa numquam asperiores ratione? Asperiores nostrum, officiis tempore rerum praesentium excepturi molestias soluta libero deserunt. Ad provident officiis voluptatibus consequatur, ullam aliquam veniam ut at doloribus quas.
  Quam delectus quis necessitatibus aperiam eligendi accusamus, id neque numquam saepe nobis quibusdam magni nihil autem molestias impedit libero corrupti fugiat! Tempore, at suscipit dolore cupiditate quae maxime consequatur fuga.
  Vel, mollitia unde. Asperiores ullam est minima harum nemo repellendus, officiis commodi quasi quas dicta laborum laudantium obcaecati, iusto deserunt quidem saepe possimus accusamus ad sunt debitis molestias, quos libero.
  Sequi velit ratione ex beatae facilis magni veritatis optio! Neque temporibus voluptatum facilis, nesciunt vitae deserunt et exercitationem omnis ipsam similique cumque repudiandae provident, impedit inventore recusandae? Ratione, asperiores quam!
  Aspernatur, atque? Iste omnis, reprehenderit perferendis officia voluptatibus explicabo obcaecati velit quas est doloribus totam, error sapiente. Maxime consectetur eos minima veritatis. Quasi eligendi inventore voluptates expedita eaque quaerat ullam.
  Error inventore iste quis dolores temporibus placeat corrupti atque at dicta deleniti mollitia vitae ut dolore, qui repellat nihil! Ad natus officia atque numquam ipsum blanditiis iure optio velit officiis.
  Eius officia eum sapiente! Quam, illo. Repudiandae quia minus quibusdam maiores obcaecati impedit velit cum! Maiores iusto ipsum sapiente dolor nulla rem tenetur molestias itaque sint asperiores. Cumque, ipsam dicta.
  Modi, nisi. Impedit, perspiciatis ut? Voluptate, nam. Cum, numquam! Suscipit quasi necessitatibus quas ex exercitationem labore reiciendis minima quis voluptas! Esse numquam beatae laudantium quia ad dolore adipisci voluptates debitis!
  Et maiores nostrum praesentium facilis dolorem tempore pariatur doloribus adipisci ipsa maxime? A commodi natus laboriosam maxime accusamus officia possimus rem atque accusantium, consequuntur impedit molestias qui, deserunt et? Dolores?
  Doloremque explicabo blanditiis ducimus eum minima aperiam magnam enim mollitia tempore ea, suscipit eveniet natus officia consequatur, quo nostrum, alias ratione doloribus commodi cupiditate sequi animi eligendi? Veniam, neque explicabo?
  Sed, ut pariatur praesentium distinctio ex exercitationem quis recusandae consectetur? Ipsa exercitationem, eius neque fugiat natus ex dignissimos aliquam molestias hic autem quaerat sint itaque pariatur tempore architecto deserunt porro.
  Ipsa animi maiores suscipit esse perferendis tempore expedita culpa id debitis, facilis voluptatem possimus veniam doloremque libero sed vero aperiam! Enim eius et sequi illo incidunt necessitatibus officia accusantium itaque!
  Recusandae ducimus amet laudantium earum! Aperiam fuga reiciendis eum tempore consequatur. At voluptates aliquam blanditiis sequi atque! Recusandae, atque excepturi laudantium, illum similique placeat temporibus aliquid, molestias sunt quasi blanditiis.
  Nemo quas quisquam perferendis dolore fuga cum ipsa odio, sapiente perspiciatis itaque dicta iure, cumque ex nobis veritatis natus repudiandae debitis fugiat! Fugiat, reiciendis tempora unde atque voluptas nobis praesentium.
  Esse, necessitatibus numquam natus rem voluptas autem eaque ipsa ad ratione maxime. Expedita sed deserunt eaque impedit! Incidunt, possimus ipsum accusamus qui asperiores, perspiciatis illum unde, hic quibusdam in aperiam?
  Consequatur quibusdam rem dolorum accusamus. Inventore dolorum temporibus ducimus vitae facilis deserunt, nulla dicta rem accusamus illum? Laboriosam accusamus consequuntur laborum beatae harum soluta pariatur perspiciatis corporis iste tempore! Excepturi?
  At, aliquid dolores cum soluta ab quo impedit hic itaque non, molestiae accusantium provident praesentium ullam aspernatur neque iste ipsam odio minus excepturi. Harum deleniti in nam. Quis, molestias inventore?
  Cupiditate iste reiciendis error esse, reprehenderit nostrum molestiae. Repellat, aut nam praesentium odit placeat totam, odio maiores ipsa quae officiis autem provident quas quisquam hic similique alias cum, voluptatum labore?
  Omnis est incidunt hic veritatis eius officiis accusamus similique delectus voluptas voluptatum aut magnam repellat dolorum, doloribus ut, quidem illo necessitatibus expedita architecto laborum. Quae quia consequatur consectetur assumenda maiores!
  Placeat ducimus molestiae sequi doloremque nam porro ea itaque cumque rerum enim reprehenderit facere molestias, animi aliquid? Aliquam voluptatibus illum ad voluptatem culpa, molestias possimus nisi eius in vitae at.
  Adipisci enim qui voluptate incidunt natus molestias molestiae quis nobis delectus reiciendis sed temporibus, at cupiditate dolorem corporis vitae dolores expedita blanditiis ad aspernatur illo beatae. Cum modi sed doloremque.
  Deleniti aliquam earum accusamus cumque sint doloribus fugit vel perferendis facere adipisci minus, voluptatum unde? Voluptatum aperiam rem iste harum culpa commodi explicabo, a sit, deleniti eum saepe assumenda tenetur.
  Est, possimus tempore accusantium facere molestiae fugiat rem architecto dignissimos amet nihil exercitationem numquam at repellat odit earum quibusdam. A ducimus quam consequatur perspiciatis sint quos. Itaque eum sint iusto?
  Quod ratione iusto amet eum reprehenderit est pariatur ipsam quibusdam sit ut officia ipsum veniam eaque temporibus fugit, adipisci tempore dolore ad quisquam a aspernatur officiis sapiente! Numquam, pariatur ipsa.
  Quidem cupiditate, eaque deleniti quibusdam quisquam ratione consequatur accusantium incidunt ipsum sed tempora natus tempore, facilis, delectus quasi. Odit id beatae repudiandae quae autem nesciunt? Nostrum architecto quisquam culpa omnis.
  Odio obcaecati soluta sapiente iusto illum iste magnam, iure earum temporibus! Minima perferendis quas doloribus deserunt soluta facilis, sapiente voluptatum, necessitatibus molestias reiciendis quisquam modi recusandae natus quo! Aliquam, modi.
  Asperiores, fugiat? Voluptates iste culpa, sint eos est dolorem commodi porro ad mollitia maxime quis earum amet, sunt distinctio, perspiciatis molestias eaque reprehenderit voluptas. Similique consectetur delectus explicabo fugit soluta.
  Deleniti ab maxime corrupti, dignissimos, laborum eaque explicabo rem fuga atque, fugiat nesciunt! Amet cum in fuga totam sit ratione quo, ipsum, earum repellendus fugiat nihil laborum eligendi nemo eos!
  Dolorum sunt a consequatur veritatis provident et, facilis cupiditate neque dignissimos ad, ut alias necessitatibus voluptatum nostrum iusto saepe! Quaerat consequuntur veniam velit, quibusdam sint vitae earum odio asperiores ut?
  Perferendis odit, ratione tenetur quaerat magnam expedita commodi recusandae enim incidunt illum rem, natus officia id ipsa ex. Commodi, quos reiciendis inventore magnam animi sunt. Culpa aperiam necessitatibus vero laborum?
  Laboriosam sit consequatur ab sequi. Cupiditate dolore eius sed? Perferendis, culpa at. Fugiat eaque exercitationem aliquid rerum. Et, modi est ex delectus libero mollitia facilis illum, eligendi commodi, ut animi.
  Quis qui ipsa voluptates inventore! Aut autem necessitatibus voluptates quo quaerat velit vero dolore possimus iste iure aliquid facere exercitationem dolorum quasi illo perferendis atque, voluptatum quisquam quia tenetur reprehenderit?
  Vitae impedit aliquam molestias modi, suscipit vero ad quibusdam est repellat eveniet dolore dolores dolorum repudiandae facilis culpa! Commodi veniam sapiente dolore ducimus officia hic dolorem alias labore repellendus voluptatem.
  Dolor placeat consequatur, mollitia consequuntur in laboriosam excepturi. Illum necessitatibus nulla, libero dolor dolore sapiente atque harum obcaecati quibusdam! Nam qui excepturi error incidunt saepe! Praesentium deleniti accusantium quas cupiditate?
  Est, laudantium fugiat molestias vitae sunt ipsam quae eum, odio atque rerum velit iusto nihil! At error delectus molestias id tenetur quisquam voluptates nihil veniam. Quasi quidem molestias assumenda at?
  Aut ut accusamus eos nobis reiciendis, sed laboriosam odit quos magni autem facere accusantium cumque doloremque veniam recusandae nostrum obcaecati at deserunt ad natus asperiores repellendus quaerat. Illo, architecto error!
  Quidem nulla itaque eius maiores culpa inventore esse, a voluptate sed ad quos quae error iusto ducimus ex blanditiis perferendis aperiam, rem delectus iure assumenda sunt eligendi cupiditate! Ullam, fugiat.
  Quisquam, voluptatem. Doloribus repudiandae voluptatem adipisci, voluptate aperiam nulla architecto repellat maxime ratione necessitatibus eum quae modi consequuntur dignissimos laborum blanditiis ipsum rerum neque quasi est sequi. Aspernatur, assumenda ipsa?
  Cupiditate pariatur facere perspiciatis dolore praesentium nisi cum asperiores quisquam voluptate aspernatur a dolorem commodi fugiat sunt ipsum, debitis quia error architecto dicta inventore eligendi? Hic minus cupiditate deserunt voluptatum!
  Illo id optio nemo ipsa ab fugiat corporis veritatis quibusdam adipisci! Magni corrupti commodi totam delectus mollitia, ut expedita quisquam possimus, quos veritatis nemo provident ipsam, soluta eius ipsum illum?
  Suscipit aliquam fuga fugit esse rem delectus sapiente error, molestiae ad soluta iste repudiandae, reprehenderit quo repellat vitae similique. Officia provident libero perferendis enim asperiores ipsum mollitia a eius nobis.
  Esse dolore distinctio nemo quis repellat, facilis harum eum molestias saepe vero numquam vitae ab atque consectetur laboriosam accusamus iusto. Tempora in itaque id quam sit doloremque sunt illum natus!
  Alias, dolore molestias beatae sint cupiditate harum earum dolores necessitatibus, voluptas numquam tenetur magnam deleniti placeat iusto tempora maiores ea odio quos neque est quam quaerat. Expedita laudantium facilis maiores.
  Dicta aspernatur quidem officiis quos eveniet! Nobis iure atque velit ratione? Sequi maiores, magni provident, dolorem fugit, magnam maxime perspiciatis dicta incidunt enim nulla nisi fugiat? Velit nobis expedita accusamus!
  Incidunt ut beatae neque velit. Atque iusto quam eos nostrum, sed fuga modi labore aliquam molestiae ullam voluptatibus. Error nihil ipsa animi possimus architecto laboriosam earum iusto illo atque ducimus?
  Aut beatae minima quae nulla, sit tenetur excepturi. Possimus illo consectetur suscipit placeat explicabo nulla ratione vero consequatur debitis iste enim, omnis corporis delectus, tempore culpa! Porro voluptatum voluptate eum.
  Perferendis quod ullam maxime reprehenderit dolore alias mollitia odit repellendus, voluptate amet maiores eaque vero provident obcaecati tempora asperiores quos delectus excepturi corrupti nemo omnis quo ipsum laudantium. Impedit, sapiente!
  Sit architecto necessitatibus perspiciatis minima, atque quasi nam accusamus accusantium voluptates rem voluptas modi ipsum veniam. Recusandae modi hic ab, explicabo eaque omnis reprehenderit, nisi veritatis enim ad labore nesciunt.
  Asperiores blanditiis minus, fuga nihil harum expedita repellendus delectus accusantium tenetur tempore laudantium ex rerum nam alias non corrupti fugiat nobis ab consectetur excepturi quae explicabo id deserunt officiis! Quod!
  Sunt, ab eligendi. Dolorum molestiae voluptate ad asperiores fugit quasi blanditiis veniam rem excepturi magnam, exercitationem quo nobis cumque accusamus voluptas ipsa dolor cupiditate recusandae dolores, error deserunt. Impedit, consectetur!
  Perferendis, sapiente, harum at aut vero temporibus dolorum corrupti eligendi dolorem esse asperiores dolore repellendus reiciendis nostrum? A, officiis cum, adipisci nemo rerum sapiente, ullam laborum alias hic in mollitia?
  Labore, officiis. Quis veniam quisquam necessitatibus eius, magnam error iure sint ex temporibus, ab aliquam cumque esse, corporis sequi. At quas vel omnis quo harum iste, sunt rerum natus nemo!
  At quisquam odio itaque architecto asperiores cum nam harum ipsum a accusamus sed quos delectus alias facilis, ducimus exercitationem, maxime quasi fugiat! Cupiditate, odio voluptatibus. Dolorum molestias sequi cupiditate voluptatem.
  Tempora, porro laborum perspiciatis officia quis numquam quasi non animi nisi voluptatibus rerum dolor est nesciunt doloremque accusantium eius blanditiis aut a qui facilis cum fugit! Unde, perspiciatis iure. Maiores.
  Quae, adipisci. Quaerat quidem, perferendis molestiae laboriosam molestias nostrum adipisci dicta neque nobis suscipit sint. Deleniti ut mollitia vitae saepe quaerat error quam, numquam voluptas? Iste iusto laudantium nulla quia?
  Possimus laboriosam fugit, eligendi animi praesentium quasi, dolore non earum dolorem doloribus tempore cupiditate aut alias optio, consectetur porro placeat. Cumque delectus voluptatibus labore rem tempora eum placeat veniam animi.
  Unde repudiandae corrupti molestias dignissimos et esse aliquid dolore amet tenetur. Maiores itaque, saepe repudiandae harum consequatur iusto qui voluptatum delectus, distinctio unde earum a, nostrum est nisi eveniet inventore!
  Officia vero, dignissimos nesciunt consequuntur laboriosam distinctio dolore quisquam veritatis expedita voluptates magnam provident iste excepturi animi quod consectetur natus, nobis reprehenderit veniam fuga. Nobis alias id laudantium? Quia, dolores.
  Enim eum earum vel totam ipsa, eligendi, ratione optio voluptates in quis laudantium fuga modi laborum. Vitae sit labore magni veritatis dolor harum rem veniam sequi odio. Perspiciatis, minima totam?
  Soluta debitis esse inventore? Voluptates repellat rerum iusto. Officia praesentium odit cupiditate tempora in ipsum aliquid sed. Asperiores fugiat deleniti maxime quasi corrupti officiis odio ea? Sunt accusantium molestiae ab!
  Dolore unde voluptatibus voluptas culpa quia eveniet dignissimos excepturi, aliquid dolores cupiditate nesciunt laudantium deleniti at aspernatur asperiores recusandae veritatis. Eveniet hic atque mollitia blanditiis. Sequi sit deserunt omnis excepturi.
  Illum, fugiat autem dignissimos voluptas nam, quibusdam quod veniam necessitatibus magni possimus unde iusto molestias pariatur molestiae voluptatibus cupiditate, voluptates iste officia consequatur deserunt? Architecto minima voluptatum asperiores cumque explicabo!
  Porro doloremque voluptatum quibusdam sunt illo sequi earum repudiandae corrupti placeat consectetur, ex voluptatem beatae! Laborum et ipsam similique voluptatibus? Quidem ipsam nesciunt reprehenderit hic quo iste doloremque magnam vero!
  Nam ex est in sed, ipsam hic. Quos, iusto vel vitae, in sapiente repellendus corrupti consequatur, odio assumenda fugit perspiciatis. Unde, consequatur vitae? Vel repudiandae quia obcaecati sed porro vero.
  Explicabo, voluptatem impedit? Excepturi veniam, qui provident, porro perferendis tempore odio delectus reiciendis nobis illum molestias error beatae nam quidem, alias ut ab voluptatum doloremque at inventore optio similique eum?
  Asperiores accusantium nobis corporis ipsa error ad, molestias facere mollitia voluptatibus eligendi voluptas consequatur soluta nihil ratione maxime! Praesentium ut distinctio neque ab consectetur nemo eum veniam eius beatae asperiores?
  Itaque ad quasi tempore, atque fugit quas accusantium error sunt maxime eligendi adipisci recusandae sint sapiente alias omnis, ipsa nemo dignissimos nam dolorem ab suscipit excepturi. Explicabo quasi repellendus provident.
  Sint, molestias quod. Ipsam nobis odio consequuntur sint similique? Commodi consequatur eveniet, maxime reiciendis veritatis minus blanditiis excepturi explicabo dolorem autem ea aliquam ex incidunt animi culpa ipsam quidem quos.
  Veniam optio possimus animi temporibus architecto, quasi delectus iste illo fugiat sint harum inventore, deserunt porro quis reprehenderit! Neque molestiae, iusto reprehenderit mollitia dolores dolor perferendis odio dolorem. Odio, in!
</p>

